/*font-family: "Raleway",sans-serif;
font-family: "Roboto",sans-serif;*/

body {
font-family: "Roboto", sans-serif;
color:#434455;
background-color: #fff;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h3,h5,h6,p {
  margin: 0;
}


a {
text-decoration: none;
}
/*-----common--------*/
.container {
 max-width: 1158px;
 padding: 0 15px;
 margin: 0 auto;
}
.section {
    padding:120px;
}
/*-----header--------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;

}
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
   padding: 24px 0;
   margin-right:76px;
}

.header-logo .logo-part {
    
    color: #2e2f42;

}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    display: block;
    padding: 24px 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    background-color:#fff;
    color: #404bbf;
    cursor: pointer;
}

/*----------------H1 section---------------*/

.main-title {
    background-color:#2e2f42; 
}
.container-hero-button {
    padding-top: 188px; 
    padding-bottom: 292px;
    max-width: 608px;
    margin: 0 auto;
 
}
.order-btn-container {
   padding: 16px 32px;
   margin-top: 24px; 
   text-align: center;
   border-radius: 4px;
     
}
    

.page-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        background-color:#2e2f42;
        color: #fff;
         
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
    color: #2e2f42;
    cursor: pointer;
}

.order-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
color:#FFFFFF;
padding: 16px 32px;
    margin-top: 48px;
    text-align: center;
    border-radius: 4px;
 
}
/*-----Features------*/

.container-features {
    padding-top: 120px;
    padding-bottom:120px;
    padding-left:156px;
    padding-right: 156px;
    max-width: 578px;
    margin: 0 auto;
    display: inline-block;
    
}
 

 .features-item {
box-sizing: border-box;
width: 264px;
height: 104px;
 
}  
.features-list {
display: block;
text-decoration: none;
justify-content: space-between;
}
.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
     
}
.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
     
}

/* -------Our Team ----------*/


.our-team {
background-color:#F4F4FD;
}

.our-team-item {
background-color: #F4F4FD;
}


.our-team-title {
  font-weight: 700;
  font-size: 36px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #FFFFFF;
}


.our-team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;


 
}
.our-team-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
 
}
.our-team-list {
    background-color: #FFFFFF;
}
/*-------------Our Portfolio-----------*/

.our-portfolio {
    background-color:#FFFFFF;
}
.our-portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;

}


.our-portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}
.our-portfolio-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}


/*-------------Footer-------------*/


.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
 .footer-logo {
  display: inline-block;
  padding: 16px;
  margin:auto;
 }
 .footer-logo .logo-part {
    color: #f4f4fd;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     
 }
    
.footer-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.page-footer {
    background-color:#2e2f42;
     
}